# Compiled class files
*.class
bin/
target/
out/

# Python
__pycache__/
*.py[cod]
.venv/
.streamlit/secrets.toml
data/*.db
data/raw/
data/*.db-shm
data/*.db-wal

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml

# macOS files
.DS_Store

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
